<div class="pokemon-card">
    <div class="pokemon-card-image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
        alt="Pokemon image">
    </div>    

    <div class="pokemon-card-number">
        Nº 001
    </div>

    <div class="pokemon-card-name">
        Bulbasaur
    </div>

    <div class="pokemon-card-types">
        <div class="pokemon-card-type pokemon-card-type-grass">Grass</div>
        <div class="pokemon-card-type pokemon-card-type-poison">Poison</div>
    </div>
</div>